
﻿body
{
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
}
canvas {
    border:1px solid black;
}
#canvasTop
{
    background-color: transparent;
    position: relative;
}
#canvas
{
    position: absolute;
    border: 1px solid black;
}

