<<<<<<< HEAD
﻿body
{
    display: block;
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
}
canvas {
    border:1px solid blue;
    width:700px;
    height:400px;
    padding:10px 10px 10px 10px;

}
=======
﻿body
{
    display: block;
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
}
canvas {
    border:1px solid blue;

    padding:10px 10px 10px 10px;
}
>>>>>>> Free draw does stuff
